#register-page {
  text-align: center;
}

#register-page h1,
#register-page h3 {
  margin: 10px 0;
}

#register-page input[type="file"],
#register-page button {
    margin: 10px;
}

#register-page img {
  width: 50%; 
  max-width: 300px;
  height: auto; 
  display: block;
  margin: 10px auto;
}


