#register-page {
    text-align: center;
  }

  #register-page h1,
  #register-page h3 {
    margin: 10px 0;
  }

  #register-page input[type="file"],
  #register-page button {
      margin: 10px;
  }

  #register-page img {
    width: 50%; /* Adjust the percentage to change the image size */
    max-width: 300px; /* Define a maximum width for the images */
    height: auto; /* Maintain the aspect ratio */
    display: block;
    margin: 10px auto;
  }

