// style.scss

// Container styles
.container {
    position: relative;
  }
  
  // Button styles
  #createServiceButton {
    position: absolute;
    top: 160px;    // Adjust the top position as needed
    right: 10px;
    font-size: 32px;  // Adjust the right position as needed
  }
  
  // Add any additional styles as needed
  