.container {
    position: relative;
  }
  
  
  #createServiceButton {
    position: absolute;
    top: 160px;    
    right: 10px;
    font-size: 32px;  
  }

  #createServiceForm {
right: 10px;
  }
  
  