#home-page {
    h1 {
        margin: 4rem auto;
        text-align: center;
    }

    p {
        width: 90%;
        max-width: 1024px;
        font-size: 1.3rem;
        line-height: 180%;
        margin: 2rem auto;
    }
}