body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
  }

  #footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #435560; /* background color of footer */
    color: white;
    display: flex;
    flex-direction: column; /* align content in a column */
    align-items: center; /* center content horizontally */
    padding: 10px 10px;
  }

  #link-box {
    display: flex;
    padding-bottom: 10px;
    align-items: flex-start;
    justify-content: space-around;
  }

  #link-box a {
    text-decoration: none;
    margin: 0 40px; /* Space between icons */
    font-size: 32px;
  }

  #link-box > div {
    text-align: center; /* Center text and icons */
  }

  #link-box > div h5 {
    margin-top: 5px; /* Adjust top margin of the text */
  }

