

#footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #435560;
  color:beige;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 10px;
  margin-top: auto;
  
  
  

}

#link-box {
  display: flex;
  padding-bottom: 5px;
  align-items: flex-start;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 100%;
  max-height: 350px;
  width: auto;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

#link-box a {
  text-decoration: none;
  margin: 0 40px;
  font-size: 32px;
}

#link-box > div {
  text-align: center;
}

#link-box > div h5 {
  margin-top: 5px;
}

@media screen and (max-width: 600px) {
  #link-box a {
    font-size: 18px;
  }
}

