#footer{
    box-shadow: 0 0 3px 1px rgba(150, 150, 150, 0.8);
    background-color: #435560;
    h3 {
        margin: 0 4px;
        text-align: center;

    }
    p {
       
        display: flex;
        margin: 10px 500px;
        justify-content: space-evenly;
        text-align: center;

        
    }

    
}