.service-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1000px;
  margin: 0 auto;
}

.createServiceCard {
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: #6e7c7cd7;
  margin-bottom: 50px;
  margin-top: 20px;
}

.service-card {
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: #6e7c7cd7;
  margin-bottom: 25px;
  text-align: center;

  h3 {
    margin-bottom: 8px;
    color: #ffffff;
    font-size: 50;
  }

  p {
    color: #ffffff;
  }
  .button {
    margin: auto;
    display: block;
    margin-bottom: 10px;
  }
}

.form-input {
  margin: auto;
  display: block;
}
button {
  margin: auto;
  display: block;
  margin-bottom: 20px;
}

.service-input-box {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  font-size: 16px;
  box-sizing: border-box;
}

.center-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.service-input-box {
  margin-bottom: 10px;
}
