.createPetCard {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    margin-bottom: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #6e7c7cd7;
  }

  .submit-btn {
    background-color: #007bff;
    border-radius: 8px;
    display: block;
    width: 150px; /* Adjust width as needed */
    margin: 0 auto; /* Center the button */
    padding: 10px; /* Adjust padding as needed */
    color: white;
    text-align: center;
    cursor: pointer;
    border: none;
    outline: none;
  }

  .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px; /* Optional: Adds some space between form groups */
  }
  
  label {
    margin-bottom: 5px; /* Optional: Adds space between label and input */
  }

  .form-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box; /* Ensure padding is included in width */
  }
  
  /* Style for placeholder text */
  .form-input::placeholder {
    color: #999; /* Adjust placeholder color */
  }
  
  /* Hover and focus styles */
  .form-input:hover,
  .form-input:focus {
    border-color: #5e9ad6; /* Adjust border color on hover and focus */
    outline: none;
  }

  /* Container for the DatePicker */
.form-group {
  margin-bottom: 15px;
}

/* Style for the label */
.form-label {
  display: block;
  margin-bottom: 5px;
  color: #333; /* Adjust label color */
  font-weight: bold;
  font-size: 16px;
}

/* Custom styles for DatePicker */
.custom-datepicker {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  box-sizing: border-box;
}

/* Container for the checkbox */
.vaxx {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}

/* Style for the label */
.form-label {
  display: block;
  margin-left: 10px;
  margin-bottom: 5px;
  color: #333; /* Adjust label color */
  font-weight: bold;
  font-size: 18px;
}

.custom-checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 25px; /* Adjust the checkbox size */
  height: 25px; /* Adjust the checkbox size */
  border: 1px solid #ccc;
  border-radius: 3px;
  outline: none;
  cursor: pointer;
  margin-left: 30px;
}

/* Custom checkbox checked style */
.custom-checkbox:checked {
  background-color: #007bff; /* Adjust the color when checked */
}

/* Styles for the label text */
.custom-checkbox + label {
  margin-left: 10px; /* Spacing between checkbox and label */
  font-size: 16px;
  color: #333; /* Adjust label color */
}

/* Style for the container */
.add-picture-section {
  margin-bottom: 10px;
  text-align: left;
}

/* Custom styling for file input */
.custom-file-input {
  display: inline-block;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  background-color: #f9f9f9; /* Background color */
  width: 100%;
}

.center {
  display: flex;
  align-items: center; /* Align items vertically */
  justify-content: center; /* Center content horizontally */
  flex-direction: column; /* Align items in a column */
}
